.header {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
}

a {
    text-decoration: none; 
}

.first {
    display: flex;
    background-color: aquamarine;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.second {
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.info {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.third {
    background-color: rgb(217, 235, 229);
    padding: 60px;
}

.quote {
    display: flex;
    justify-content: center;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cadetblue;
    width: 1100px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    padding: 30px;
}

.font {
    font-family: -apple-system, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
}
Pesquisar flex wrap 
Pesquisar como nomear classes